@import 'styles/_mixins.scss';

.mouseOverButtonContainer {
  position: relative;
  height: 100%;
  z-index: 100;

  :hover + .mouseOverButtonText {
    display: inline;
  }
}

.mouseOverButtonContainer:hover > .mouseOverButton {
  background-color: lightgray;
  opacity: 0.66;
  z-index: 60;
}

.mouseOverChildren {
  z-index: -1
}

.mouseOverButtonText {
  @include font-styling;
  display: none;
  z-index: 70;
  text-align: center;
  background-color: greenyellow;
  border: 0.125rem solid green;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  border-radius: 2rem;
}